body {
    font-family: 'Lato', sans-serif;
    background-color: #fdfcf5; /* Marrom claro */
    margin: 0;
    padding: 0;
    box-sizing: border-box; /* Inclui padding e border na largura total */
    overflow-x: hidden; /* Remove o scroll horizontal */
}

/* Estilo para desativar o scroll do corpo da página */
body.modal-open {
    overflow: hidden;
}

header {
    background-color: #C97B26; /* Laranja */
    color: white;
    display: flex;
    flex-direction: column; /* Alinha logo e título verticalmente */
    align-items: center; /* Centraliza o conteúdo horizontalmente */
    padding: 1em; /* Reduzido para diminuir o tamanho do header */
    position: relative;
    text-align: center; /* Centraliza o texto no header */
}

header .logo {
    height: 150px; /* Ajuste o tamanho do logo */
    margin-bottom: 10px; /* Espaço entre o logo e o título */
}

header .title {
    font-size: 2em; /* Tamanho do título */
    margin: 0;
    width: 80%; /* Limita a largura para manter o texto centralizado */
    word-wrap: break-word; /* Permite que o texto quebre em várias linhas */
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center; /* Centraliza o texto no título */
}

/* Media query para telas menores */
@media (max-width: 600px) {
    header .title {
        font-size: 1.5em; /* Reduz o tamanho da fonte em telas menores */
    }
}

/* Barra de busca */
.search-container {
    width: 100%;
    background-color: #C97B26; /* Mantém a cor de fundo do header */
    text-align: center;
    padding: 10px 0;
    position: -webkit-sticky; /* Para navegadores compatíveis com WebKit */
    position: sticky;
    top: 0;
    z-index: 1000; /* Garante que a barra de busca fique acima do conteúdo */
}

#searchBar {
    width: 80%;
    max-width: 600px; /* Define um tamanho máximo para o campo de busca */
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ddd;
}

/* Lista de livros */
#bookList {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(220px, 1fr)); /* Ajusta o número de colunas baseado na largura */
    gap: 30px; /* Aumenta o espaçamento entre os itens */
    padding: 20px;
    box-sizing: border-box;
    justify-items: start; /* Alinha todos os itens à esquerda inicialmente */
    max-width: 100%; /* Garante que o grid não exceda a largura da tela */
    margin: 0 auto; /* Centraliza o grid dentro do container */
}

.book {
    background-color: white;
    border: 1px solid #ddd;
    border-radius: 5px;
    margin: 0; 
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: flex-start; /* Alinha os itens no topo */
    align-items: center;
    width: 100%; 
    height: 100%; /* Certifica-se de que todos os livros tenham a mesma altura */
    box-sizing: border-box;
}

.book img {
    width: 100%;
    height: 50%;
    object-fit: fill;
    border-radius: 10px;
    margin-top: 10px; /* Margem fixa de 10px */
}

.book h2 {
    font-size: 1.2em;
    margin: 20px 0 0; /* Margem superior de 10px abaixo da imagem */
    min-height: 2.1em; 
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2; 
    -webkit-box-orient: vertical;
}

.book p {
    font-size: 0.9em;
    color: #666;
    align-items: top;
}

.book p.summary {
    background-color: #ffffff;
    border: 1px solid #E5B88D;
    border-radius: 10px;
    padding: 15px;
    color: #333;
    font-size: 0.9em;
    margin-top: 15px; /* Margem fixa de 15px abaixo do título */
    height: auto; /* Permite a expansão vertical conforme o conteúdo */
}

.book p.description {
    max-height: 10.5em; /* Ajuste conforme necessário para 7 linhas */
    overflow-y: auto; /* Adiciona rolagem se o conteúdo exceder a altura */
    background-color: #FDF6E3; /* Cor de fundo para manter a consistência */
    border: 1px solid #E5B88D; /* Borda para destacar */
    border-radius: 5px;
    padding: 15px;
    color: #333; /* Cor do texto */
    text-align: justify; /* Justificar o texto para um visual mais limpo */
    margin-top: 10px;
    box-sizing: border-box; /* Inclui padding e border na altura total */
}

.book .availability-tag {
    background-color: #F8D7DA; /* Cor de fundo suave para destacar a indisponibilidade */
    color: #721C24; /* Cor do texto da tag */
    border: 1px solid #F5C6CB; /* Borda para destaque */
    border-radius: 5px;
    padding: 10px;
    margin-top: 15px;
    font-size: 0.9em;
    text-align: center;
    width: 100%;
    box-sizing: border-box;
}

.book .availability-tag.available {
    background-color: #D4EDDA; /* Cor de fundo verde claro para indicar disponibilidade */
    color: #155724; /* Cor do texto da tag */
    border: 1px solid #C3E6CB; /* Borda para indicar disponibilidade */
}

.book .availability-tag .date {
    font-weight: bold;
    display: block;
    margin-top: 3px;
}

/* Estilo do Modal */
.modal {
    display: none; /* Escondido por padrão */
    position: fixed; /* Fixo na tela */
    z-index: 1000; /* Coloca o modal acima de outros conteúdos */
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto; /* Adiciona rolagem se necessário */
    background-color: rgba(0,0,0,0.4); /* Cor de fundo com transparência */
}

/* Estilo do Conteúdo do Modal */
.modal-content {
    background-color: #fefefe;
    margin: 15% auto; /* Centraliza verticalmente e horizontalmente */
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    max-width: 600px; /* Largura máxima do modal */
    border-radius: 10px; /* Bordas arredondadas */
    position: relative; /* Garante que o conteúdo do modal não se sobreponha aos elementos internos */
}

/* Estilo do Botão de Fechar */
.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

/* Estilo da Mensagem do Modal */
.modal-message {
    font-size: 1.1em;
    color: #333;
    text-align: center; /* Centraliza o texto no modal */
}

.modal-message strong {
    font-weight: bold;
    color: #C97B26; /* Cor de destaque */
    display: block; /* Garante que o destaque fique em linhas separadas */
    margin-top: 10px;
    font-size: 1.2em; /* Aumenta o tamanho da fonte para destaque */
}

/* Estilo do Botão Flutuante */
#floatingButton {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: #C97B26; /* Cor de fundo do botão */
    color: white;
    border: none;
    border-radius: 50%;
    width: 70px;
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    z-index: 1001; /* Garantir que o botão fique acima de outros elementos */
    cursor: pointer;
}

#floatingButton:hover {
    background-color: #E67E22; /* Cor de fundo ao passar o mouse */
}

#noResultsMessage {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 10px;
    margin-top: 20px;
}

#noResultsImage {
    width: 250px; /* Tamanho reduzido para um visual mais discreto */
    height: auto;
    margin-bottom: 8px;
    border-radius: 10px;
}

#noResultsMessage p {
    font-size: 20px;
    color: #333;
    font-family: 'Lato', sans-serif;
    margin: 0;
}


